<div class="cal-row-fluid cal-row-head">

  <div class="cal-cell1" ng-repeat="day in weekDays track by $index">{{ day }}</div>

</div>

<div class="cal-month-box">

  <div ng-repeat="week in view track by $index">
    <div class="cal-row-fluid cal-before-eventlist">
      <div
        class="cal-cell1 cal-cell"
        ng-repeat="day in week track by $index"
        ng-click="dayClicked($parent.$index, $index)"
        ng-class="{ pointer: day.events.length > 0, 'day-highlight': event.highlighted }">
        <div class="cal-month-day" ng-class="dayClasses( day, $index )">
          <small class="cal-events-num badge badge-important pull-left" 
                 ng-if="monthDisplayEventCount && day.events.length > 0">{{ day.events.length }}</small>

          <span data-cal-date ng-click="drillDown(day.label)">{{ day.label }}</span>

          <div class="cal-day-tick" ng-show="day.isOpened">
          </div>

          <div class="events-list" ng-show="day.events.length > 0">
          </div>

        </div>
      </div>
    </div>

    <div class="cal-slide-box" collapse="!week.isOpened" mwl-collapse-fallback="!week.isOpened">
      <div class="cal-slide-content cal-event-list">
        <ul class="unstyled list-unstyled">

          <li mwl-event-display="{{ monthEventDisplayDirective }}"
              ng-repeat="event in openEvents track by $index">

            <span class="pull-left event event-{{ event.type }}"></span>
            &nbsp;
            <a
              href="javascript:;"
              class="event-item"
              ng-click="eventClick({$event: event})">
              {{ event.title }}
            </a>

            <a
              href="javascript:;"
              class="event-item-edit"
              ng-if="editEventHtml && event.editable !== false"
              ng-bind-html="$sce.trustAsHtml(editEventHtml)"
              ng-click="eventEditClick({$event: event})">
            </a>

            <a
              href="javascript:;"
              class="event-item-delete"
              ng-if="deleteEventHtml && event.deletable !== false"
              ng-bind-html="$sce.trustAsHtml(deleteEventHtml)"
              ng-click="eventDeleteClick({$event: event})">
            </a>
          </li>

        </ul>
      </div>
    </div>

  </div>

</div>
